<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <p>Work in progress!</p>
        <p>The website is undergoing maintenace.</p>
        {{> footer}}
    </body>
</html>